# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment Variables
.env

# OS Files
.DS_Store

# Frontend Build Files
/frontend/build/

# Debugging Files
*.swp
*.swo


# Ignore seedTransactions.js
backend/seedTransactions.js

# Ignore dummy_transactions.json
backend/dummy_transactions.json
